@model IEnumerable<DataObjects.Room>







<div class="content">
    <div class="jumbotron jumbotronBackGroundReservationPage">
        <div class="container body-content">
            <h1>@ViewBag.Greeting, Explore Paradise!</h1>
            <h2>Stay with Us!</h2>

        </div>
    </div>

    <div class="container body-content">
        <div class="container body-content">

           

            <div class="row">

                <table class="table">
                   

                    @foreach (var item in Model)
                    {
                        <tr>
                            @*<td>
                            @Html.DisplayFor(modelItem => item.RoomNumber)
                        </td>*@
                            @*<td>
                            @Html.DisplayFor(modelItem => item.Building)
                        </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.RoomType)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            @*<td>
                            @Html.DisplayFor(modelItem => item.Capacity)
                        </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>
                            @*<td>
                            @Html.DisplayFor(modelItem => item.OfferingID)
                        </td>*@
                            @*<td>
                            @Html.DisplayFor(modelItem => item.RoomStatus)
                        </td>*@
                            @*<td>
                            @Html.DisplayFor(modelItem => item.ResortPropertyID)
                        </td>*@
                            @*<td>
                            @Html.ActionLink("Details", "Details", new { id=item.RoomID })
                        </td>*@
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</div>

