@model IEnumerable<DataObjects.AppointmentType>

@{
    ViewBag.Title = "Index";
}

<h2>Our Amenities</h2>

<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AppointmentTypeID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AppointmentTypeID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Schedule an appointment", "Create", new { id = item.AppointmentTypeID })
            </td>
        </tr>
    }

</table>
